@import url('menu.css');
@import url('form.css');
@import url('swiper.css');
@import url('faqs.css');

/* Text selection highlight */
::selection {
    background-color: #B65234;
    color: white;
}

::-moz-selection {
    background-color: #B65234;
    color: white;
}
